{{ form_start(form) }}
    	<div class="row">
	       <div class="card br20 white col s8 offset-s2">
    			<div class="container">
    				<div class="row">
	    				<div class="input-field col s8 offset-s2">
				        	{{ form_row(form.name)}}
				        </div>
				    </div>
				    <div class="row center-align">
			    			<button  class="green btn btn-large waves-effect waves-light">{{ button_label|default('Sauvegarder') }}</button>
			    	</div>
			    </div>
			    	<div class="row left">
    			     	<a class="btn blue waves-effect waves-light" href="{{ path('cv_show', {'id':cv}) }}">Retour au Cv</a>
    			 	</div>
			</div>
		</div>
{{ form_end(form) }}
