{% extends 'base.html.twig' %}

{% block title %}CenterInterest index{% endblock %}

{% block body %}
    <h1>CenterInterest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for center_interest in center_interests %}
            <tr>
                <td>{{ center_interest.id }}</td>
                <td>{{ center_interest.name }}</td>
                <td>
                    <a href="{{ path('center_interest_show', {'id': center_interest.id}) }}">show</a>
                    <a href="{{ path('center_interest_edit', {'id': center_interest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('center_interest_new') }}">Create new</a>
{% endblock %}
