{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
    {% block stylesheets %}
        <style type="text/css">
            .hfull{
                height: 100vh;
                padding-top: 40px;
            }
            .br20{
                border-radius: 20px;
            }
        </style>
    {% endblock %}

{% block body %}
    <div class="grey hfull">
            <div class="row">
               
                    <div class="card grey lighten-1 br20 col s10 offset-s1 ">
                        <h1>Gestion des Utilisateurs</h1>
                        <div class="container">
                            <div class="row">
                            <table class="table striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        </div>
                        
                        

                        <div class="row">
                            <a class="left white-text grey wave-light btn large waves-effect" href="{{ path('app_admin_home')}}"><i class="material-icons">cloud</i>Retour Int.Admin</a>
                        </div>
                    </div>
                    

                    
            </div>
        </div>
    </div>
    
    
{% endblock %}
