{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Istok+Web&family=Thasadith&display=swap" rel="stylesheet">
    <style type="text/css">
      h1, h2{
        font-family: 'Thasadith', sans-serif;
      }
      .t1, h3 pre{
        font-size: 80px!important
        text-shadow: 2px 2px 10px #000000!important;
      }
      p, input, button, a, label{
        font-family: 'Istok Web', sans-serif;
      }
    	.fixbottom{
    		position: absolute;
    		bottom: 0;
 			height: 100px;
    	}
    	.height100{
 			height: 100%!important;
    	}
      .contentshome{
        position: absolute;
        width: 80%;
        top: 20vh;
        left: 10%;
      }
      .hfull{
        padding-top: 10vh;
        padding-bottom: 10vh;
        min-height: 93vh;
      }
      .br20{
        border-radius: 20px;
      }
      .container90{
        width: 90%;
        margin: auto;
      }
    </style>
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>
  	<nav class="grey darken-4">
    	<div class="nav-wrapper container90">
		    <a href="{{ path('app_home') }}" class="brand-logo">Web CV</a>
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		    	{% if app.user %}
			        <li><a class="hoverable" href="{{ path('app_about') }}">A Propos</a></li>
			        <li><a class="hoverable" href="{{ path('app_contact') }}">Contact</a></li>{% if is_granted('ROLE_ADMIN') %}
			        <li><a class="hoverable" href="{{ path('app_admin_home')}}">Admin</a></li>
			        {% else %}
			        <li><a class="hoverable" href="{{ path('cv_index')}}">Mes CV</a></li>
					{% endif %}
			        <li><a class="hoverable" href="{{ path('app_logout') }}">Logout</a></li>
		        {% else %}
			        <li><a class="hoverable" href="{{ path('app_about') }}">A Propos</a></li>
			        <li><a class="hoverable" href="{{ path('app_contact') }}">Contact</a></li>
			        <li><a class="hoverable" href="{{ path('app_login') }}">Login</a></li>
        		{% endif %}
		    </ul>
    	</div>
  	</nav>
    
    {% block body %}{% endblock %} 
    

    <nav class="fixbottom hide-on-large-only">
    	<div class="nav-wrapper grey darken-4">
		    <ul class="row center-align">
		    	{% if app.user %}
			        <li class="col s2 offset-s1 height100"><a class="flow-text" href="{{ path('app_home') }}">Accueil</a></li>
			        <li class="col s2 height100"><a class="flow-text" href="{{ path('app_about') }}">A Propos</a></li>
			        <li class="col s2 height100"><a class="flow-text" href="{{ path('app_contact') }}">Contact</a></li>
			        {% if is_granted('ROLE_ADMIN') %}
			        <li class="col s2 height100"><a class="flow-text" href="{{ path('app_admin_home')}}">Admin</a></li>
			        {% else %}
			        <li class="col s2 height100"><a class="flow-text" href="{{ path('cv_index')}}">Mes CV</a></li>
					{% endif %}
			        <li class="col s2 height100"><a class="flow-text" href="{{ path('app_logout') }}">Logout</a></li>
		        {% else %}
		        	<li class="col s3 height100"><a class="flow-text" href="{{ path('app_home') }}" >Accueil</a></li>

			        <li class="col s3 height100"><a class="flow-text" href="{{ path('app_about') }}">A Propos</a></li>

			        <li class="col s3 height100"><a class="flow-text" href="{{ path('app_contact') }}">Contact</a></li>

			        <li class="col s3 height100"><a class="flow-text" href="{{ path('app_login') }}">Login</a></li>
        		{% endif %}
		    </ul>
    	</div>
  	</nav>
    
    {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="{{ asset("build/app.js") }}"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
            <script type="text/javascript">
            $(document).ready(function(){
				      $('.sidenav').sidenav();
				      $(".dropdown-trigger").dropdown();
              $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true
              });
              autoplay()   
              function autoplay() {
                     $('.carousel').carousel('next');
                     setTimeout(autoplay, 6500);
              }
				    });
            
            </script> 
            
        </script>
	{% endblock %}
  </body>
</html>